NEXTAUTH_SECRET=da829c15111209784c50ebaf6e5747159c148149
NEXTAUTH_URL=http://localhost:3000
OIDC_BASE_URL=your-oidc-base-url
OIDC_CLIENT_ID=your-client-id
OIDC_CLIENT_SECRET=your-client-secret
CAC_DEFAULT_GRUPO_ID=your-group-id
OIDC_NOME_GRUPO_AD=your-ad-group-name