

# Database
DATABASE_URL=""

# PostgreSQL
POSTGRES_DB=nextjs_db
POSTGRES_USER=nextjs_user
POSTGRES_PASSWORD=your_password_here

# Resend Email Configuration
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxx
FROM_EMAIL=SPDF <noreply@seudominio.com>